<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <%- include("./header.ejs") %>
    <section class="books-section">
      <div class="container">
        <div class="grid-books">
          <h2 class="main-heading imp-text">Top Reads This Week!</h2>
          <% for(let book of books){ %>
          <div class="card-book">
            <div class="summary hidden">
              <ul class="book-summary">
                <li class="summary-item">
                  <span class="imp-text">Name:</span><%=book.name%>
                </li>
                <li class="summary-item">
                  <span class="imp-text">Category:</span><%= book.category%>
                </li>
                <li class="summary-item">
                  <span class="imp-text">Summary:</span><%=book.summary%>
                </li>
              </ul>
            </div>
            <div class="book-img">
              <img src="<%= book.img %>" alt="book-image" />
            </div>
            <div class="subscribe-btn">
              <button type="submit" class="btn subscribe-btn">SUBSCRIBE</button>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </body>
</html>

<!-- <section class="books-section">
      <div class="container">
        <h2 class="main-heading imp-text">Top read this week!</h2>
        <div class="grid-books">
          <% for(let book of books){ %>
          <div class="card-book">
            <div class="summary hidden">
              <ul class="book-summary">
                <li class="summary-item">
                  <span class="imp-text">Name:</span><%=book.name%>
                </li>
                <li class="summary-item">
                  <span class="imp-text">Category:</span><%= book.category%>
                </li>
                <li class="summary-item">
                  <span class="imp-text">Summary:</span><%=book.summary%>
                </li>
              </ul>
            </div>
            <div class="book-img">
              <img src="<%= book %>" alt="book-image" />
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section> -->
