<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=name%></title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div class="logo">
          <p>Lib&Darr;<span class="imp-text">rary</span></p>
        </div>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li><a href="#"><%=name %>'s Books</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Catalogue</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="signup"><a href="/auth/logout">LogOut</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="books-section">
      <div class="container">
        <h2 class="main-heading imp-text">Hello <%=name%>, Your Books!</h2>
        <div class="grid-books">
          <% for(let book of books){ %>
          <div class="card-book">
            <div class="summary hidden">
              <ul class="book-summary">
                <li class="summary-item">
                  <span class="imp-text">Name:</span><%=book.name%>
                </li>
                <li class="summary-item">
                  <span class="imp-text">Category:</span><%= book.category%>
                </li>
                <li class="summary-item">
                  <span class="imp-text">Summary:</span><%=book.summary%>
                </li>
              </ul>

              <!-- <%=book.name%> <br />
              <%=book.isbn%> <br />
              <%=book.summary %> -->
            </div>
            <div class="book-img">
              <img src="<%= book.img %>" alt="book-image" />
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </body>
</html>
